{% extends "base.html" %}
{% load static i18n %}

{% block content %}
<div class="container">
    <div class="row align-items-start">
        <div class="col">
            <div style="display: flex; justify-content: space-between;  align-items: center;padding-right: 10%;">
                <div>
                    <h3>
                        {{ receita.titulo }} - 
                        {% if receita.autor.name != "" %}
                        {{ receita.autor.name }}
                        {% else %}
                        {{ receita.autor.username }}
                        {% endif %}
                    </h3>
                    <div>
                    Preparo: <strong>{{ receita.tempo }}</strong> 
                    Avaliação: <strong>{{ receita.avaliacao }}</strong>
                </div>
            </div>
            <div class="remove-print" style="display: flex; justify-content: space-between; align-items: center; width: 25%;">
                <i class="fas fa-print" onclick="print()" style="cursor:pointer;font-size: 30px; text-align: center; color:#007bff;"></i>
                {% if favorito %}
                <a label="Favoritar" class="favorite fa fa-star" style="cursor:pointer;font-size: 30px; text-align: center; color:#007bff;" href="{% url 'core:favoritar' pk=receita.id fav='remover' %}" action="post">
                </a>
                {% else %}
                <a label="Favoritar" class="favorite far fa-star" style="cursor:pointer;font-size: 30px; text-align: center; color:#007bff;" href="{% if request.user.is_authenticated %}{% url 'core:favoritar' pk=receita.id fav='adicionar' %}
                {% else %}{% url 'account_login' %} {% endif %}">
                </a> 
                {% endif %}
                {% if request.user %}
                    <a class="btn btn-outline-primary" style="cursor:pointer;" id="btn_avaliar" data-toggle="modal" data-target="#exampleModal"> Avaliar </a>
                {% endif %}
                {% if request.user == receita.autor %}
                    <a class="btn btn-outline-primary" href="{% url 'admin:index' %}core/receita/{{ receita.id }}"> Editar </a>
                {% endif %}
            </div>
            </div>
            <div>
                    {% for cat in receita.categoria.all %}
                    <a href="{% url 'core:index' categoria=cat.slug %}"><button type="button" class="btn btn-outline-info">{{ cat }}</button></a>
                    {% endfor %}
            </div>
            <img class="img-thumbnail" style="margin: 1% 8%; width: 70%; height:40%;" src="{% get_media_prefix %}{{receita.imagem}}"/>
            <div>{{ receita.descricao|safe }}</div>

        </div>
    </div>
</div>

<!-- Comment Area -->
<div class="row bootstrap snippets remove-print">
    <div class="col-md-12 col-md-offset-2 col-sm-12">
        <div class="comment-wrapper">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Comentários.
                </div>
                <div class="panel-body">
                    <form action="{% url 'core:detalhes_receita' pk=receita.id %}" method="POST">
                    {% csrf_token %}
                    <textarea class="form-control" name="comentario" placeholder="escreva um comentário..." rows="3"></textarea>
                    <br>
                    {% if request.user.is_authenticated %}
                    <button class="btn btn-info pull-right">Adicionar Comentário</button>
                    </form>
                    {% else %}
                    <div>Faça Login Para Comentar</div>
                    {% endif %}
                    <hr>
                    {% if comentarios %}
                        <ul class="media-list">
                            {% for  comentario in comentarios %}
                                <li class="media">
                                    <div class="media-body">
                                        <strong class="text-success">{{ comentario.autor.username }}</strong>
                                        <div style="display: flex; justify-content: space-between;">
                                            <p>
                                                {{ comentario.mensagem }}
                                            </p>
                                            {% if request.user == comentario.autor %}
                                            <a class="btn btn-outline-primary" style="cursor:pointer;" id="btn_remover" data-id={{ comentario.id }}> Remover </a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                    <div style="padding: 30px;">Sem comentários, seja o primeiro!!</div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Comment Area -->

<!-- End Area -->
<a style="padding: 3% 0;" href="{% url 'core:nova_receita' %}"><button class="btn btn-primary pull-right remove-print" style="width: 100%;">Adicione sua Receita!!!!</button></a>

<!-- Modal Area -->
<div id='myModal' class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="text-align: center;">
        {% if nota_user %}
        <p>Caso queira alterar sua nota clique em Enviar.</p>
        <input id="valor_nota" value={{ nota_user.rating }}  min="1" max="5" type="number" onkeyup="if(this.value > 5) this.value = null;this.value=this.value.replace(/[^\d]/,'');"/>
        {% else %}
        <p>De uma nota de 1 a 5 para a receita!</p>
          <input id="valor_nota" value='1'  min="1" max="5" type="number" onkeyup="if(this.value > 5) this.value = null;this.value=this.value.replace(/[^\d]/,'');"/>
        {% endif %}
        </div>
        <div class="modal-footer">
          <button id="enviar_nota" type="button" class="btn btn-primary">Enviar</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div>
<!-- End Modal Area -->
{% endblock content %}
{% block extra_js %}
<script>
$(document).ready(function() {
    var URL_AVALIACAO = "{{ request.get_host }}" + '/ws/v1/avaliacoes/';
    var URL_COMENTARIO = "{{ request.get_host }}" + '/ws/v1/comentarios/';
    var RECEITA_ID = "{{ receita.id  }}";
    var RATING_NOTA = "{{ nota_user.rating }}"
    var ID_NOTA = "{{ nota_user.id }}"


    $('#btn_avaliar').click(function() {
        $('#myModal').modal('show');
    })

    $('#myModal').on('shown.bs.modal', function () {

       $('#enviar_nota').on('click', function(){
        /*
        Funcao responsavel por avaliar a receita
        */
        var valor_nota = $('#valor_nota').val();
        var data = JSON.stringify({
            'receita': '{{ receita.id }}',
            'rating': valor_nota
        });
        var url = 'http://' + URL_AVALIACAO;
        if(ID_NOTA){
            type = 'PATCH';
            data.id = ID_NOTA;
            url += ID_NOTA + '/';
        }else {
            type = 'POST';
        }
        $.ajax(
            {
                type: type,
                url: url,
                contentType: 'application/json',
                dataType: "json",
                data: data,
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                },
                success: function(response) {
                console.log(response);
                $('#myModal').modal('hide');
                },
                error: function (xhr, textStatus, errorThrown) {
                console.log(xhr, textStatus, errorThrown);
                }
            }
        );
    });
    });

    $(document).on('click', '#btn_remover', function(e){
        e.preventDefault();
        var el = $(this);
        comentario_id = el.attr('data-id');
        url = 'http://' + URL_COMENTARIO + comentario_id + '/';
        $.ajax(
                {
                    type: 'DELETE',
                    url: url,
                    contentType: 'application/json',
                    dataType: "json",
                    data: {},
                    beforeSend: function (xhr, settings) {
                        xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                    },
                    success: function(response) {
                        el.closest('li').remove();
                    },
                    error: function (xhr, textStatus, errorThrown) {
                    console.log(xhr, textStatus, errorThrown);
                    }
                }
        );
    })
});
</script>

{% endblock extra_js %}